body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

#periodic-table{
display:grid;
grid-template-columns:repeat(18,60px);
gap:5px;
margin:20px;
}

.element{
background:#1e293b;
padding:10px;
border-radius:8px;
cursor:pointer;
transition:0.2s;
}

.element:hover{
background:#334155;
transform:scale(1.1);
}
